body {
    margin: auto;
    background-color: #07000E;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 26px;
}
.topnav {
    background-color: #07000E;
    overflow: hidden;
    width: 100%;
    border-bottom: 1vh solid #ffd32a;
    margin: 0;
}
.topnav a {
float: left;
color: #F9F9F9;
text-align: center;
padding: 18px 20px;
text-decoration: none;
font-size: 18px;
margin: 0;
}
.topnav a:hover {
    background-color: #F9F9F9;
    color: black;
}
.topnav a.active {
    background-color: #ffd32a;
    color: #F9F9F9;
    text-shadow: 1px 1px black;
}
a#login{
    float: right
}
a#cadastro{
    float: right
}
/* header FIM */
/* BANNER INICIO */
#container{
    height: 125vh;
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
}
.esquerda{
    display: grid;
    float: left;
    margin-top: 5vh;
}
h2{
    margin: 1vh 0 1vh 0;
}

.direita{
    display: grid;
    float: right;
}

.fotos{
    width: 40vh;
    height: 30vh;
    margin-bottom: 3vh;
    border-radius: 1vh;
    display: block;
}

/* BANNER FIM  */
/* ICONES */
.box {
    overflow: auto;
    background-color: #07000E;
}

.box .box-item {
    float: left;
    width: 33%;
    text-align: center;
    margin: 50px 0;
}

.box .box-item img {
    height: 100px;
}


/* SOBRE - INTEGRANTES */

.nosso-time {
    background-color: #07000E;
    text-align: center;
    overflow: auto;
} 

.nosso-time h2 {
    margin: 0;
    padding-top: 25px;
    color: #F9F9F9;
    text-transform: uppercase;
}

.nosso-time .integrantes {
    color: #F9F9F9;
    overflow: auto;
    margin-top: 30px;
    padding-bottom: 35px;
}


.nosso-time .integrantes .integrante {
    /*border: 3px solid cyan;*/
    width: 18%;
    float: left;
    padding: 1%;
    line-height: 1.5;
}

.nosso-time .integrante img {
    height: 100px;
    background-color: #ffd32a;
    border-radius: 50%;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}

/* ASSUNTO GRANDE */
.assunto-grande {
    border-bottom: 3px solid #ffd32a;
    background-color: #07000E;
    color: #F9F9F9;
    margin: auto;
    width: 60%;
}

/* FOOTER */

.footer {
    background-color: #ffd32a;
    text-align: center;
    height: 100px;
    text-shadow: 1px 1px black;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
}
a{
    text-decoration: inherit;
    color: inherit;
}
