body {
    margin: 0;
    background-color: #07000E;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    background: url(../img/fundo9.png);
    background-repeat: no-repeat;
    height: 57vh;
    width: 100%;
    background-size: cover;
}
.topnav {
    background-color: #07000E;
    overflow: hidden;
    width: 100%;
    border-bottom: 1vh solid #ffd32a;
    margin: 0;
}
.topnav a {
float: left;
color: #F9F9F9;
text-align: center;
padding: 18px 20px;
text-decoration: none;
font-size: 18px;
margin: 0;
}
.topnav a:hover {
    background-color: #F9F9F9;
    color: black;
}
.topnav a.active {
    background-color: #ffd32a;
    color: #F9F9F9;
    text-shadow: 1px 1px black;
}
a#login{
    float: right
}
a#cadastro{
    float: right
}
/* header FIM */
/* BANNER INICIO */
.banner {
    border-bottom: 3px solid #ffd32a;
    height: 57vh;
}
/* Tamanho do banner com a foto do TAXI */
.banner .container {

}
/* Centralizando Taxis Blindado */
.banner .texto {
    text-align: center;
    padding-top: 150px;
}
/* Colorindo Taxis blindado */
.banner .titulo {
    font-size: 68px;
    color: #ffd32a;
    text-shadow: 5px 5px #07000E;
}
/* BANNER FIM  */
/* BANNER veiculo */

.about-us-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img_budget {
    height: 70%;
    padding-bottom: 70px;
}

.about-desc {
    padding-top: 0px;
    padding-left: 25px;
    width: 60%;
    background-color: #fff;
}

.about-desc p {
    text-align: justify;
    margin-top: 30px;
    font-size: 18px;
    width: 90%;
    color: black;
}
.about-desc .title{
    color: black;
}

#veiculos{
    color: black;
}
/* FIM BANNER 2 */
/* NOVIDADES */
.novidades {
    background-color: #07000E;
    border-top: 3px solid #ffd32a;    
}
.novidades .container {
    padding: 30px 0;
}
.novidades button {
    color: white;
    background-color: #ffd32a;
    text-transform: uppercase;
    width: 180px;
    margin: auto;
    display: block; /* Default de botão é inline-block. Com block, margin auto funciona*/
    border: 0;
    height: 38px;
    padding: 0 20px;
    cursor: pointer;
    text-shadow: 1px 1px black;
}
.novidades a{
    text-decoration: none;
}
/* ICONES */
.box {
    overflow: auto;
    background-color: #07000E;
}

.box .box-item {
    float: left;
    width: 31%;
    text-align: left;
    margin-left: 35px;
}
.box .box-item img {
    height: 50px;
}

/* FOOTER */
.footer {
    background-color: #ffd32a;
    text-align: center;
    height: 100px;
    text-shadow: 1px 1px black;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 45px;
}
