body {
    margin: auto;
    background-color: #07000Ee0;
}
.topnav {
    background-color: #07000E;
    overflow: hidden;
    margin: auto;
    width: 100%;
}
a#login{
    float: right
}
a#cadastro{
    float: right
}
.topnav a {
float: left;
color: #F9F9F9;
text-align: center;
padding: 18px 20px;
text-decoration: none;
font-size: 18px;
}
.topnav a:hover {
    background-color: #F9F9F9;
    color: black;
}
.topnav a.active {
    background-color: #ffd32a;
    color: #F9F9F9;
    text-shadow: 1px 1px black;
}
/* BANNER */
#banner {
    margin: auto;
    width: 100%;
    height: 50vh;
    text-align: center;
    color: #F9F9F9;
}
#banner_centro{
    margin: auto;
}
#taxi{
    margin: auto;
    width: 60%;
    font-size: 8vh;
    color: #ffd32a;
    border-bottom: 1vh solid #ffd32a;
    text-shadow: 5px 5px black;
}
